.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  max-width: 413px;
  margin-bottom: 12px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  align-self: flex-end;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor: pointer;
  background-color: transparent;
}

.card__like-button_liked {
  background-image: url(../images/heart-filled.svg);
  width: 22px;
  height: 20px;
  border: none;
  opacity: 1;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_liked:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__delete-button {
  background-image: url(../images/trash-transparent.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 371px;
}

.card__delete-button:hover {
  background-image: url(../images/trash-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
